{% extends "dashboard/dbase.html" %} {% load humanize %} {% block title %} طلبات الكفلاء {% endblock %}
{% block head %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
{% endblock %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  {% if messages %}
  <script>
    // Execute the following JavaScript code when the document is ready
    document.addEventListener('DOMContentLoaded', function() {
      // Show the modal when there are messages
      var modal = new bootstrap.Modal(document.getElementById('errorModal'));
      modal.show();
    });
  </script>
  {% endif %}

  {% for message in messages %}
  <div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">رسالة</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="col row-gap-3 justify-content-md-center mb-5">
    <div class="col-md-auto p-1 pt-3 mt-4 bg-dark rounded-3 d-flex flex-column justify-content-center align-self-center table-responsive text-nowrap" style="overflow-x: scroll">
      <p class="text-light ms-2 fs-3">طلبات الداعمين</p>
      <table class="table table-striped-columns mb-1">
        <thead class="">
          <tr>
            <th scope="col">رقم الطلب</th>
            <th scope="col">نوع الطلب</th>
            <th scope="col">الحالة</th>
            <th scope="col">تاريخ الإرسال</th>
            <th scope="col">تاريخ المراجعة</th>
            <th scope="col">مُراجع الطلب</th>
            <th scope="col">الملاحظات</th>
            <th scope="col">الإجراءات</th>
          </tr>
        </thead>
        <tbody>
          {% for supporter_request in supporters_requests %}
          <tr>
            <th scope="row">{{ supporter_request.id }}</th>
            {% if supporter_request.request_type == "جديد" %}
            <td class="col"><span class="badge text-bg-success">جديد</span></td>
            {% elif supporter_request.request_type == "تحديث" %}
            <td class="col"><span class="badge text-bg-info">تحديث</span></td>
            {% else %}
            <td class="col">{{ supporter_request.request_type }}</td>
            {% endif %}
            {% if supporter_request.status == "تحت المراجعة" %}
            <td class="col"><span class="badge text-bg-primary">{{ supporter_request.status }}</span></td>
            {% elif supporter_request.status == "انتظار" %}
            <td class="col"><span class="badge text-bg-warning">{{ supporter_request.status }}</span></td>
            {% elif supporter_request.status == "مقبول" %}
            <td class="col"><span class="badge text-bg-success">{{ supporter_request.status }}</span></td>
            {% elif supporter_request.status == "مرفوض" %}
            <td class="col"><span class="badge text-bg-danger">{{ supporter_request.status }}</span></td>
            {% else %}
            <td class="col"><span class="badge text-bg-primary">{{ supporter_request.status }}</span></td>
            {% endif %}
            <td class="col">{{ supporter_request.created_at }}</td>
            {% if supporter_request.reviewed_at %}
            <td class="col">{{ supporter_request.reviewed_at }}</td>
            {% else %}
            <td class="col">----</td>
            {% endif %}
            {% if supporter_request.reviewed_by %}
            <td class="col">{{ supporter_request.reviewed_by }}</td>
            {% else %}
            <td class="col">----</td>
            {% endif %}
            
            {% if supporter_request.comment %}
            <td class="col">{{ supporter_request.comment }}</td>
            {% else %}
            <td class="col">----</td>
            {% endif %}
            <td class="col">

              <a type="button" class="btn btn-primary btn-details" href="{% url 'supporter_request_details' supporter_id=supporter_request.supporter.id s_request_id=supporter_request.id %}" data-id="{{ supporter_request.supporter.id }}">
                تفاصيل الطلب
              </a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <nav class="mt-3" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if supporters_requests.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">الاول</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ supporters_requests.previous_page_number }}">السابق</a>
        </li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" >{{ supporters_requests.number }} من {{ supporters_requests.paginator.num_pages }}</a></li>

        {% if supporters_requests.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ supporters_requests.next_page_number }}">التالي</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ supporters_requests.paginator.num_pages }}">الأخير</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

</div>
<script>
</script>
{% endblock %}