{% extends "dashboard/dbase.html" %} {% load humanize %} {% load static %} {% block title %} سجلات الداعمين {% endblock %}
{% block head %}
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Include PopperJS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/data_table_style.css' %}" />
  <!-- Required for DataTables -->
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  {% if messages %}
  <script>
    // Execute the following JavaScript code when the document is ready
    document.addEventListener('DOMContentLoaded', function() {
      // Show the modal when there are messages
      var modal = new bootstrap.Modal(document.getElementById('errorModal'));
      modal.show();
    });
  </script>
  {% endif %}

  {% for message in messages %}
  <div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">رسالة</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="mt-3 mb-4">
    <h1 class="mt-4 mb-2">سجل الداعمين</h1>
    <div class="nav-breadcrumb mb-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="{% url 'dashboard' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">لوحة القيادة</a></li>
          <li class="breadcrumb-item active" aria-current="page">السجلات</li>
          <li class="breadcrumb-item active" aria-current="page">سجل الداعمين</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row mb-5 border rounded py-3 mb-5">
    <div class="table-warper table-responsive">
      <table class="table align-middle table-row-dashed text-start border border-1 border-secondary-subtle" id="supporters_table">
        <thead>
          <tr class="table-secondary">
            <th scope="col" class="text-start">رقم الملف</th>
            <th scope="col" class="text-start">الاسم الأول</th>
            <th scope="col" class="text-start">الاسم الأخير</th>
            <th scope="col" class="text-start">تاريخ الميلاد</th>
            <th scope="col" class="text-start">رقم الهوية</th>
            <th scope="col" class="text-start">حالة الملف</th>
            <th scope="col" class="text-start">رقم الجوال</th>
            <th scope="col" class="text-start">الإجراءات</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for supporter in supporters %}
          <tr>
            <th scope="row">{{ supporter.id }}</th>
            <!-- Add more columns as needed -->
            <td>{{ supporter.first_name }}</td>
            <td>{{ supporter.last_name }}</td>
            <td>{{ supporter.date_of_birth }}</td>
            <td>{{ supporter.national_id }}</td>
            <td>{{ supporter.status }}</td>
            <td>{{ supporter.phone_number }}</td>
            <!-- Add more columns as needed -->
        
            <!-- Add action buttons as needed -->
            <td>
              <!-- Button trigger modal -->
              <a type="button" class="btn btn-primary" href="{% url 'supporter_details' s_id=supporter.id %}">
                عرض التفاصيل
              </a>
            </td>
          </tr>
        
          {% endfor %}
        </tbody>
        
      </table>
    </div>
  </div>

</div>
<script>
  $(document).ready(function () {
    var table = $('#supporters_table').DataTable({
      'language': {
        url: "{% static '/Arabic.json' %}"
      },
      'columnDefs': [
          {
              'targets': 0, // Targeting the first column (checkbox column)
              'checkboxes': {
                  'selectRow': true
              }
          }
      ],
      'select': {
          'style': 'multi'
      }
    });

    table.draw();
  });
</script>
{% endblock %}