{% extends "dashboard/dbase.html" %} {% load humanize %} {% block title %} تفاصيل ملف الداعم{% endblock %}
{% block head %}
<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Include jQuery Validation Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

{% endblock %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="row mt-3">
    <div class="nav-breadcrumb mb-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">لوحة القيادة</a></li>
          <li class="breadcrumb-item"><a href="{% url 'supporters_list' %}">سجل الداعمين</a></li>
          <li class="breadcrumb-item active" aria-current="page">تفاصيل ملف الداعم</li>
        </ol>
      </nav>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div>
          <h2 class="card-title fw-bold"><a class="nav-link d-inline" href="{% url 'supporters_list' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
          </a>تفاصيل ملف الداعم</h2>
          <small class="text-muted">رقم الداعم #{{ supporter.id }}</small>
        </div>
          <hr>
          <div class="personal_info">
            <h3 class="mt-4 mb-4">المعلومات الشخصية</h3>
            <div class="row row-cols-md-1 row-cols-xl-3">
              <div class="mb-3">
                <h6 class="col form-label" for="id_first_name">الأسم الأول</h6>
                <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ supporter.first_name }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_second_name">الأسم الثاني</h6>
                <input type="text" class="form-control" id="id_second_name" name="second_name" value="{{ supporter.second_name }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_last_name">الأسم الأخير</h6>
                <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ supporter.last_name }}" disabled readonly>
              </div>
            </div>

            <div class="row row-cols-lg-2 row-cols-xl-4">
              <div class="mb-3">
                <h6 class="col form-label" for="id_gender">الجنس</h6>
                <input type="text" class="form-control" id="id_gender" name="gender" value="{{ supporter.gender }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_date_of_birth">تاريخ الميلاد</h6>
                <input type="text" class="form-control" id="id_date_of_birth" name="date_of_birth" value="{{ supporter.date_of_birth }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_phone_number">رقم الجوال</h6>
                <input type="text" class="form-control" id="id_phone_number" name="phone_number" value="{{ supporter.phone_number }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_email">الايميل الالكتروني</h6>
                <input type="email" class="form-control" id="id_email" name="email" value="{{ supporter.email }}" disabled readonly>
              </div>
            </div>

            <div class="row row-cols-md-1 row-cols-xl-3">
              <div class="mb-3">
                <h6 class="col form-label" for="id_nationality">الجنسية</h6>
                <input type="text" class="form-control" id="id_nationality" name="nationality" value="{{ supporter.nationality }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_national_id">رقم الهوية/الإقامة</h6>
                <input type="text" class="form-control" id="id_national_id" name="national_id" value="{{ supporter.national_id }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_national_id_exp_date">تاريخ انتهاء الهوية/الإقامة</h6>
                <input type="text" class="form-control" id="id_national_id_exp_date" name="national_id_exp_date" value="{{ supporter.national_id_exp_date }}" disabled readonly>
              </div>
            </div>

            <div class="row row-cols-md-1 row-cols-lg-2">
              <div class="mb-3">
                <h6 class="col form-label" for="id_marital_status">الحالة الاجتماعية</h6>
                <input type="text" class="form-control" id="id_marital_status" name="marital_status" value="{{ supporter.marital_status }}" disabled readonly>
              </div>

              <div class="mb-3">
                <h6 class="col form-label" for="id_educational_level">المستوى التعليمي</h6>
                <input type="text" class="form-control" id="id_educational_level" name="educational_level" value="{{ supporter.educational_level }}" disabled readonly>
              </div>
            </div>

            <div class="row row-cols-lg-2">
              <div class="mb-3">
                <h6 class="col form-label" for="id_work_status">هل يعمل؟</h6>
                <input type="text" class="form-control" id="id_work_status" name="work_status" value="{{ supporter.work_status }}" disabled readonly>
              </div>
              <div class="mb-3">
                <h6 class="col form-label" for="id_employer">جهة العمل</h6>
                <input type="text" class="form-control" id="id_employer" name="employer" value="{% if supporter.employer %}{{ supporter.employer }}{% else %}----{% endif %}" disabled readonly>
              </div>
            </div>
          </div> <!-- end line personal info -->

          <hr>

          <div class="supporter_preferences">
            <h3 class="mt-4 mb-4">تفضيلات الداعم</h3>
            <div>
              <div>
                <div class="mb-3 form-group">
                  <label for="id_sponsorship_preference_was_sponsor_check" class="form-label">هل سبق أن كفلت يتيم أو أرملة في وقت سابق أو حالي؟
                  </label>
                  <input type="text" class="form-control" id="id_sponsorship_preference_was_sponsor_check" name="sponsorship_preference_was_sponsor_check" value="{{ supporter.was_sponsor }}" disabled readonly>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_sponsorship_info_status_notify_check" class="form-label">
                    هل ترغب بتقرير عن اليتيم / الأرملة؟
                  </label>
                  <input type="text" class="form-control" id="id_sponsorship_info_status_notify_check" name="sponsorship_info_status_notify_check" value="{{ supporter.status_notify }}" disabled readonly>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_sponsorship_info_invite_beneficiary_check" class="form-label">
                    هل ترغب بإشراك اليتيم في مناسباتكم العائلية؟
                  </label>
                  <input type="text" class="form-control" id="id_sponsorship_info_invite_beneficiary_check" name="sponsorship_info_invite_beneficiary_check" value="{{ supporter.invite_beneficiary }}" disabled readonly>
                </div>
                <div class="mb-3 form-group">
                  <label for="id_sponsorship_info_visit_beneficiary_check" class="form-label">
                    هل ترغب بزيارة لأسرة اليتيم / الأرملة؟
                  </label>
                  <input type="text" class="form-control" id="id_sponsorship_info_visit_beneficiary_check" name="sponsorship_info_visit_beneficiary_check" value="{{ supporter.visit_beneficiary }}" disabled readonly>
                </div>
              </div>
            </div>
          </div>

          <hr class="mt-4">

          <a type="button" class="btn btn-secondary" href="{% url 'supporters_list' %}">الرجوع لسجل الداعمين</a>

      </div> <!-- end line card body -->
    </div> <!-- end line card -->
  </div> <!-- end line container -->

</div>
{% endblock %}