{% extends "dashboard/dbase.html" %} {% load humanize %} {% load static %} {% block title %} المستخدمين {% endblock %}
{% block head %}
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Include jQuery Validation Plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <!-- Custom styling -->
  <link rel="stylesheet" href="{% static 'css/user_list.css' %}" />
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" /> {% endcomment %}
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">

  {% if messages %}
  <script>
    // Execute the following JavaScript code when the document is ready
    document.addEventListener('DOMContentLoaded', function() {
      // Show the modal when there are messages
      var modal = new bootstrap.Modal(document.getElementById('errorModal'));
      modal.show();
    });
  </script>
  {% endif %}

  {% for message in messages %}
  <div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">رسالة</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="mt-3 mb-4">
    <h1 class="mt-4 mb-2">لائحة المستخدمين</h1>
    <div class="nav-breadcrumb mb-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="{% url 'dashboard' %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">لوحة القيادة</a></li>
          <li class="breadcrumb-item active" aria-current="page">المستخدمين</li>
        </ol>
      </nav>
    </div>
  </div>

  <form action="#">
      {% comment %} <div class="row mb-3">
          <label for="search" class="col-sm-1 col-form-label text-center">البحث: </label>
          <div class="col-sm-11">
              <input type="text" class="form-control" id="search" name="search">
          </div>
      </div> {% endcomment %}
      {% comment %} <button type="submit" class="btn btn-primary">Filter</button> {% endcomment %}
      {% comment %} <a href="#" class="btn btn-success float-end">Export</a> {% endcomment %}
      {% comment %} <a href="{% url 'add_user' %}" class="btn btn-primary float-end">Add User</a> {% endcomment %}
  </form>

  <div class="row mb-5 border rounded py-3 mb-5">
    <div class="table-warper table-responsive">
      <table class="table align-middle table-row-dashed text-start" id="users_table">
          <thead>
              <tr>
                <th class="text-start"><input class="form-check-input" type="checkbox" id="select-all"></th>
                <th class="text-start">المستخدم</th>
                <th class="text-start">الوظيفة</th>
                <th class="text-start">آخر ظهور</th>
                <th class="text-start">آخر تحديث</th>
                <th class="text-start">تاريخ الانضمام</th>
                <th class="text-start">الإجراءات</th>
              </tr>
          </thead>
          <tbody>
              {% for user_obj in users_list %}
              <tr class="">
                  <td><input class="form-check-input" disabled type="checkbox" name="selected_users" value="{{ user_obj.id }}"></td>
                  <td class="d-flex align-items-center py-4">
                    <!--begin:: Avatar -->
                    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                      <a href="{% url 'dashboard_user_profile' user_id=user_obj.id %}">
                        <div class="rounded-circle bg-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                          </svg>
                        </div>
                      </a>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="{% url 'dashboard_user_profile' user_id=user_obj.id %}" class="text-gray-800 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover fw-bold text-hover-primary mb-1">{{ user_obj.first_name }} {{ user_obj.last_name }}</a>
                      <span class="text-muted">{{ user_obj.email }}</span>
                    </div>
                  </td>
                  <td>
                    {% if user_obj.groups.all %}
                      {% for group in user_obj.groups.all %}
                        {% if group.name == "Admin" %}
                          <h5 class="badge text-bg-danger">مسؤول</h5>
                        {% elif group.name == "Management" %}
                          <h5 class="badge text-bg-warning">إداري</h5>
                        {% elif group.name == "Developer" %}
                          <h5 class="badge text-bg-info">مطور</h5>
                        {% elif group.name == "Beneficiary" %}
                          <h5 class="badge text-bg-primary">مستفيد</h5>
                        {% elif group.name == "Supporter" %}
                          <h5 class="badge text-bg-success">داعم</h5>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <p class="text-muted">------</p>
                    {% endif %}
                  </td>
                  <td class="text-start">{% if user_obj.last_login %}{{ user_obj.last_login|naturaltime }}{% else %}----{% endif %}</td>
                  <td>{% if user_obj.last_updated %}{{ user_obj.last_updated }}{% else %}----{% endif %}</td>
                  <td><div class="d-flex align-items-center">{{ user_obj.date_joined }}</div></td>
                  <td>
                    <a href="{% url 'dashboard_user_profile' user_id=user_obj.id %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal{{ user_obj.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg></a>

                    <!-- Confirmation Modal -->
                    <div class="modal fade" id="deleteConfirmationModal{{ user_obj.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel{{ user_obj.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="deleteConfirmationModalLabel{{ user_obj.id }}">تأكيد الحذف</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  هل أنت متأكد أنك تريد حذف هذا المستخدم؟
                              </div>
                              <form action="{% url 'dashboard_user_delete' user_id=user_obj.id %}" method="post">
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                                    <button type="submit" class="btn btn-danger confirm-delete-btn">حذف</button>
                                </div>
                              </form>
                          </div>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    var table = $('#users_table').DataTable({
      'language': {
        url: "{% static '/Arabic.json' %}"
      },
      'columnDefs': [
          {
              'targets': 0, // Targeting the first column (checkbox column)
              /*
              'checkboxes': {
                  'selectRow': true
              }
              */
          }
      ],
      /*
      'select': {
          'style': 'multi'
      }
      */
    });

    table.draw();

    // When delete button is clicked, show confirmation modal
    $('.delete-user-btn').click(function() {
      var userId = $(this).data('user-id');
      $('#deleteConfirmationModal').modal('show');

      // Set the user id in a hidden input in the modal
      $('#deleteConfirmationModal').find('.confirm-delete-btn').attr('data-user-id', userId);
    });
  });
</script>
{% endblock %}
