{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>تسجيل حساب جديد</title>
    {% comment %} Bootstrp CSS {% endcomment %} {% comment %} {% load bootstrap5
    %} {% endcomment %} {% comment %} {% bootstrap_css %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet"
          href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv"
      crossorigin="anonymous"
    /> {% endcomment %}
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/imgs/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/imgs/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/imgs/favicon_io/site.webmanifest' %}">
    {% comment %} arabic fonts {% endcomment %}
    {% block head %}{% endblock %}
    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'></script> 
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include jQuery Validation Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <!-- Include jQuery Validation Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Noto Kufi Arabic";
      }
      #id_background_container {
        background-color: #1a1a1a;
        opacity: 1;
        background: repeating-linear-gradient( 45deg, #00834d, #00834d 11.5px, #1a1a1a 11.5px, #1a1a1a 57.5px );
        height: 100%;
      }
    </style>

  </head>
  <body id="id_background_container">
    <div class="row mx-auto justify-content-center">
      <div class="card mt-5 mb-4 p-5 my-4 bg-light rounded-3" style="width: 35rem;">
        <a href="{% url 'home' %}">
        <img class="img-fluid rounded-3 card-img-top" src="{% static '/imgs/logo-c-1.png' %}" alt="Girl in a jacket">
        </a>
        <div class="card-body">
          {% if messages %}
            {% comment %} {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger" role="alert">{{message}}</div>
              {% endif%}
            {% endfor %} {% endcomment %}
    
            {% comment %} Icons for alerts {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
              <symbol id="check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </symbol>
              <symbol id="info-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              </symbol>
              <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
    
            {% for message in messages %}
              
              <div class="alert alert-{% if message.tags == "error" %}danger{% elif "activation_email" in message.extra_tags %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:" width="16" height="16"><use xlink:href="#info-fill"/></svg>
                <div>
                  <div>
                    {% if "activation_email" in message.extra_tags %}<p>{% endif %}{{ message }} {% if "activation_email" in message.extra_tags %}
                    <a href="{% url 'resend_activation_email_view' %}">اضغط هنا</a> لإعادة إرسال رسالة التفعيل.</p>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
          <h2 class="card-title fw-bold mb-5 mt-4 text-center">أنشئ حسابك</h2>
          <div class="col">
            
            <form method="post" id="sign-up-form">
              {% csrf_token %}
              {% comment %} {{form}} {% endcomment %}
              <div class="row row-cols-1">
                <div class="col-sm-6 mb-3">
                  <label for="id_first_name" class="form-label"
                    >الأسم الأول</label
                  >
                  <input type="text" name="first_name" class="form-control" autofocus id="id_first_name" value="{{ first_name }}">
                </div>
                <div class="col-sm-6 mb-3">
                  <label for="id_second_name" class="form-label"
                    >الأسم الثاني</label
                  >
                  <input type="text" name="second_name" class="form-control" autofocus id="id_second_name" value="{{ second_name }}">
                </div>
                <div class="col mb-3">
                  <label for="id_last_name" class="form-label"
                    >الأسم الأخير (العائلة)</label
                  >
                  <input type="text" name="last_name" class="form-control" autofocus id="id_last_name" value="{{ last_name }}">
                </div>
              </div>
              <div class="row row-cols-1 row-cols-sm-2">
                <div class="col mb-3">
                  <label for="id_date_of_birth" class="form-label"
                    >تاريخ الميلاد</label
                  >
                  <input type="date" name="date_of_birth" class="form-control" autofocus id="id_date_of_birth">
                </div>
                <div class="col mb-3">
                  <label for="id_gender" class="form-label"
                    >الجنس</label
                  >
                  <select
                    name="gender"
                    class="form-select"
                    id="id_gender"
                    value="{{ gender }}"
                  >
                    <option value selected>---------</option>
                    <option value="ذكر">ذكر</option>
                    <option value="انثى">انثى</option>
                  </select>
                </div>
              </div>
              <div class="col mb-3">
                <label for="id_national_id" class="form-label"
                  >رقم الهوية الوطنية / الإقامة</label
                >
                <input type="text" name="national_id" class="form-control" autofocus id="id_national_id" value="{{ national_id }}">
              </div>
              <div class="col mb-3">
                <label for="id_nationality" class="form-label"
                  >الجنسية</label
                >
                <select
                      name="nationality"
                      class="form-select"
                      id="id_nationality"
                      value="{{ nationality }}"
                    >
                      <option value selected>إختر</option>
                      <option value="السعودية">السعودية</option>
                      <option value="أفغانستان">أفغانستان</option>
                      <option value="ألبانيا">ألبانيا</option>
                      <option value="الجزائر">الجزائر</option>
                      <option value="أندورا">أندورا</option>
                      <option value="أنغولا">أنغولا</option>
                      <option value="أنتيغوا وباربودا">أنتيغوا وباربودا</option>
                      <option value="الأرجنتين">الأرجنتين</option>
                      <option value="أرمينيا">أرمينيا</option>
                      <option value="أستراليا">أستراليا</option>
                      <option value="النمسا">النمسا</option>
                      <option value="أذربيجان">أذربيجان</option>
                      <option value="البهاما">البهاما</option>
                      <option value="البحرين">البحرين</option>
                      <option value="بنغلاديش">بنغلاديش</option>
                      <option value="باربادوس">باربادوس</option>
                      <option value="بيلاروسيا">بيلاروسيا</option>
                      <option value="بلجيكا">بلجيكا</option>
                      <option value="بليز">بليز</option>
                      <option value="بنين">بنين</option>
                      <option value="بوتان">بوتان</option>
                      <option value="بوليفيا">بوليفيا</option>
                      <option value="البوسنة والهرسك ">البوسنة والهرسك</option>
                      <option value="بوتسوانا">بوتسوانا</option>
                      <option value="البرازيل">البرازيل</option>
                      <option value="بروناي">بروناي</option>
                      <option value="بلغاريا">بلغاريا</option>
                      <option value="بوركينا فاسو ">بوركينا فاسو</option>
                      <option value="بوروندي">بوروندي</option>
                      <option value="كمبوديا">كمبوديا</option>
                      <option value="الكاميرون">الكاميرون</option>
                      <option value="كندا">كندا</option>
                      <option value="الرأس الأخضر">الرأس الأخضر</option>
                      <option value="جمهورية أفريقيا الوسطى ">
                        جمهورية أفريقيا الوسطى
                      </option>
                      <option value="تشاد">تشاد</option>
                      <option value="تشيلي">تشيلي</option>
                      <option value="الصين">الصين</option>
                      <option value="كولومبيا">كولومبيا</option>
                      <option value="جزر القمر">جزر القمر</option>
                      <option value="كوستاريكا">كوستاريكا</option>
                      <option value="ساحل العاج">ساحل العاج</option>
                      <option value="كرواتيا">كرواتيا</option>
                      <option value="كوبا">كوبا</option>
                      <option value="قبرص">قبرص</option>
                      <option value="التشيك">التشيك</option>
                      <option value="جمهورية الكونغو الديمقراطية">
                        جمهورية الكونغو الديمقراطية
                      </option>
                      <option value="الدنمارك">الدنمارك</option>
                      <option value="جيبوتي">جيبوتي</option>
                      <option value="دومينيكا">دومينيكا</option>
                      <option value="جمهورية الدومينيكان">
                        جمهورية الدومينيكان
                      </option>
                      <option value="تيمور الشرقية ">تيمور الشرقية</option>
                      <option value="الإكوادور">الإكوادور</option>
                      <option value="مصر">مصر</option>
                      <option value="السلفادور">السلفادور</option>
                      <option value="غينيا الاستوائية">غينيا الاستوائية</option>
                      <option value="إريتريا">إريتريا</option>
                      <option value="إستونيا">إستونيا</option>
                      <option value="إثيوبيا">إثيوبيا</option>
                      <option value="فيجي">فيجي</option>
                      <option value="فنلندا">فنلندا</option>
                      <option value="فرنسا">فرنسا</option>
                      <option value="الغابون">الغابون</option>
                      <option value="غامبيا">غامبيا</option>
                      <option value="جورجيا">جورجيا</option>
                      <option value="ألمانيا">ألمانيا</option>
                      <option value="غانا">غانا</option>
                      <option value="اليونان">اليونان</option>
                      <option value="جرينادا">جرينادا</option>
                      <option value="غواتيمالا">غواتيمالا</option>
                      <option value="غينيا">غينيا</option>
                      <option value="غينيا بيساو">غينيا بيساو</option>
                      <option value="غويانا">غويانا</option>
                      <option value="هايتي">هايتي</option>
                      <option value="هندوراس">هندوراس</option>
                      <option value="المجر">المجر</option>
                      <option value="آيسلندا">آيسلندا</option>
                      <option value="الهند">الهند</option>
                      <option value="إندونيسيا">إندونيسيا</option>
                      <option value="إيران">إيران</option>
                      <option value="العراق">العراق</option>
                      <option value="جمهورية أيرلندا ">جمهورية أيرلندا</option>
                      <option value="فلسطين">فلسطين</option>
                      <option value="إيطاليا">إيطاليا</option>
                      <option value="جامايكا">جامايكا</option>
                      <option value="اليابان">اليابان</option>
                      <option value="الأردن">الأردن</option>
                      <option value="كازاخستان">كازاخستان</option>
                      <option value="كينيا">كينيا</option>
                      <option value="كيريباتي">كيريباتي</option>
                      <option value="الكويت">الكويت</option>
                      <option value="قرغيزستان">قرغيزستان</option>
                      <option value="لاوس">لاوس</option>
                      <option value="لاوس">لاوس</option>
                      <option value="لاتفيا">لاتفيا</option>
                      <option value="لبنان">لبنان</option>
                      <option value="ليسوتو">ليسوتو</option>
                      <option value="ليبيريا">ليبيريا</option>
                      <option value="ليبيا">ليبيا</option>
                      <option value="ليختنشتاين">ليختنشتاين</option>
                      <option value="ليتوانيا">ليتوانيا</option>
                      <option value="لوكسمبورغ">لوكسمبورغ</option>
                      <option value="مدغشقر">مدغشقر</option>
                      <option value="مالاوي">مالاوي</option>
                      <option value="ماليزيا">ماليزيا</option>
                      <option value="جزر المالديف">جزر المالديف</option>
                      <option value="مالي">مالي</option>
                      <option value="مالطا">مالطا</option>
                      <option value="جزر مارشال">جزر مارشال</option>
                      <option value="موريتانيا">موريتانيا</option>
                      <option value="موريشيوس">موريشيوس</option>
                      <option value="المكسيك">المكسيك</option>
                      <option value="مايكرونيزيا">مايكرونيزيا</option>
                      <option value="مولدوفا">مولدوفا</option>
                      <option value="موناكو">موناكو</option>
                      <option value="منغوليا">منغوليا</option>
                      <option value="الجبل الأسود">الجبل الأسود</option>
                      <option value="المغرب">المغرب</option>
                      <option value="موزمبيق">موزمبيق</option>
                      <option value="بورما">بورما</option>
                      <option value="ناميبيا">ناميبيا</option>
                      <option value="ناورو">ناورو</option>
                      <option value="نيبال">نيبال</option>
                      <option value="هولندا">هولندا</option>
                      <option value="نيوزيلندا">نيوزيلندا</option>
                      <option value="نيكاراجوا">نيكاراجوا</option>
                      <option value="النيجر">النيجر</option>
                      <option value="نيجيريا">نيجيريا</option>
                      <option value="كوريا الشمالية ">كوريا الشمالية</option>
                      <option value="النرويج">النرويج</option>
                      <option value="سلطنة عمان">سلطنة عمان</option>
                      <option value="باكستان">باكستان</option>
                      <option value="بالاو">بالاو</option>
                      <option value="بنما">بنما</option>
                      <option value="بابوا غينيا الجديدة">
                        بابوا غينيا الجديدة
                      </option>
                      <option value="باراغواي">باراغواي</option>
                      <option value="بيرو">بيرو</option>
                      <option value="الفلبين">الفلبين</option>
                      <option value="بولندا">بولندا</option>
                      <option value="البرتغال">البرتغال</option>
                      <option value="قطر">قطر</option>
                      <option value="جمهورية الكونغو">جمهورية الكونغو</option>
                      <option value="جمهورية مقدونيا">جمهورية مقدونيا</option>
                      <option value="رومانيا">رومانيا</option>
                      <option value="روسيا">روسيا</option>
                      <option value="رواندا">رواندا</option>
                      <option value="سانت كيتس ونيفيس">سانت كيتس ونيفيس</option>
                      <option value="سانت لوسيا">سانت لوسيا</option>
                      <option value="سانت فنسينت والجرينادينز">
                        سانت فنسينت والجرينادينز
                      </option>
                      <option value="ساموا">ساموا</option>
                      <option value="سان مارينو">سان مارينو</option>
                      <option value="ساو تومي وبرينسيب">
                        ساو تومي وبرينسيب
                      </option>
                      <option value="السنغال">السنغال</option>
                      <option value="صربيا">صربيا</option>
                      <option value="سيشيل">سيشيل</option>
                      <option value="سيراليون">سيراليون</option>
                      <option value="سنغافورة">سنغافورة</option>
                      <option value="سلوفاكيا">سلوفاكيا</option>
                      <option value="سلوفينيا">سلوفينيا</option>
                      <option value="جزر سليمان">جزر سليمان</option>
                      <option value="الصومال">الصومال</option>
                      <option value="جنوب أفريقيا">جنوب أفريقيا</option>
                      <option value="كوريا الجنوبية">كوريا الجنوبية</option>
                      <option value="جنوب السودان">جنوب السودان</option>
                      <option value="إسبانيا">إسبانيا</option>
                      <option value="سريلانكا">سريلانكا</option>
                      <option value="السودان">السودان</option>
                      <option value="سورينام">سورينام</option>
                      <option value="سوازيلاند">سوازيلاند</option>
                      <option value="السويد">السويد</option>
                      <option value="سويسرا">سويسرا</option>
                      <option value="سوريا">سوريا</option>
                      <option value="طاجيكستان">طاجيكستان</option>
                      <option value="تنزانيا">تنزانيا</option>
                      <option value="تايلاند">تايلاند</option>
                      <option value="توغو">توغو</option>
                      <option value="تونجا">تونجا</option>
                      <option value="ترينيداد وتوباغو">ترينيداد وتوباغو</option>
                      <option value="تونس">تونس</option>
                      <option value="تركيا">تركيا</option>
                      <option value="تركمانستان">تركمانستان</option>
                      <option value="توفالو">توفالو</option>
                      <option value="أوغندا">أوغندا</option>
                      <option value="أوكرانيا">أوكرانيا</option>
                      <option value="الإمارات العربية المتحدة">
                        الإمارات العربية المتحدة
                      </option>
                      <option value="المملكة المتحدة">المملكة المتحدة</option>
                      <option value="الولايات المتحدة">الولايات المتحدة</option>
                      <option value="أوروغواي">أوروغواي</option>
                      <option value="أوزبكستان">أوزبكستان</option>
                      <option value="فانواتو">فانواتو</option>
                      <option value="فنزويلا">فنزويلا</option>
                      <option value="فيتنام">فيتنام</option>
                      <option value="اليمن">اليمن</option>
                      <option value="زامبيا">زامبيا</option>
                      <option value="زيمبابوي">زيمبابوي</option>
                    </select>
              </div>
              <div class="col mb-3">
                <label for="id_username" class="form-label"
                  >اسم المستخدم</label
                >
                <input type="text" name="username" class="form-control" autofocus id="id_username" value="{{ username }}">
              </div>
              <div class="col mb-3">
                <label for="id_email" class="form-label"
                  >البريد الالكتروني</label
                >
                <input type="email" placeholder="you@example.com" name="email" class="form-control text-start" maxlength="320" id="id_email" value="{{ email }}">
              </div>
              {% comment %} <div class="col mb-3 form-group">
                <label for="id_phonenumber" class="form-label"
                  >رقم الجوال</label
                >
                <div class="input-group mb-1">
                  <input
                    type="number"
                    name="phonenumber"
                    class="form-control"
                    id="id_phonenumber"
                    placeholder="5XXXXXXXX"
                  />
                  <span class="input-group-text" id="basic-addon1">966+</span>
                </div>
                <div class="form-text" id="basic-addon4">يبدا رقم الجوال بدون الصفر, مثال (512345678)</div>
              </div> {% endcomment %}
              <div class="col mb-3">
                <label for="id_password1" class="form-label"
                  >كلمة المرور</label
                >
                <div class="input-group mb-3">
                  <input type="password" class="form-control" autocomplete="off" aria-autocomplete="list" aria-label="Password" aria-describedby="passwordHelp" id="id_password1" name="password1">
                  <a class="btn pt-1" role="button" id="togglePassword"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" fill="currentColor" class="" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                  </svg></a>
                  
                </div>

                <div class="password-meter">
                    <div class="meter-section rounded me-2"></div>
                    <div class="meter-section rounded me-2"></div>
                    <div class="meter-section rounded me-2"></div>
                    <div class="meter-section rounded"></div>
                </div>
                <div id="passwordHelp" class="form-text text-muted">استخدم 8 حروف أو اكثر تحتوى على حروف كبيرة وصغيرة, أرقام, ورموز.
                </div>
              </div>
              <div class="col mb-3">
                <label for="id_password2" class="form-label"
                  >تأكيد كلمة المرور</label
                >
                <div class="input-group mb-3">
                  <input type="password" class="form-control" autocomplete="off" id="id_password2" name="password2">
                  <a class="btn pt-1" role="button" id="togglePassword2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" fill="currentColor" class="btn-outline-secondary" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                  </svg></a>
                  
                </div>
              </div>
              
              <button type="submit" class="w-100 btn btn-lg btn-primary mt-3" id="sign_up_btn">تسجيل جديد</button>
              <p class="mt-4 text-center">لديك حساب بالفعل؟ <a href="/login">تسجيل الدخول</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {

        // Retrieve the CSRF token from the page
        var csrfToken = $('input[name=csrfmiddlewaretoken]').val();

        // Validator method for username
        $.validator.addMethod(
          "usernameRegex",
          function (value, element) {
            return (
              this.optional(element) || /^[a-zA-Z0-9_]{4,20}$/i.test(value)
            );
          },
        );

        // Validator method for first, second, and last name fields in the form
        $.validator.addMethod(
          "nameRegex",
          function (value, element) {
            return (
              this.optional(element) || /^[a-zA-Z0-9\u0621-\u064A]*$/i.test(value)
            );
          },
          "يحتوي الأسم على حروف فقط."
        );

        // Define a custom method for strong password validation
        $.validator.addMethod(
          "strongPassword",
          function(value, element) {
              return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$&+,:;=?@#|'<>.^*()%!-]).{8,}$/.test(value);
          },
          "كلمة المرور يجب أن تحتوي على حرف كبير وحرف صغير ورقم ورمز خاص ويجب أن تكون على الأقل 8 أحرف باللغة الانجليزية."
        );

        // Validator method for the phone number [Saudi Arabia Only]
        $.validator.addMethod(
          "saudiPhoneRegex",
          function (value, element) {
            return (
              this.optional(element) || /^(5\d{8})$/i.test(value)
            );
          },
          "الرجاء إدخال رقم جوال صحيح يبدأ برقم 5 وبطول 9 ارقام."
        );

        // Email address validator
        $.validator.addMethod(
          "emailRegex",
          function (value, element) {
            return (
              this.optional(element) ||
              /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(value)
            );
          },
          "الرجاء إدخال بريد إلكتروني صحيح."
        );

        // Validate Saudi Arabia IDs (Iqama/Saudi Natioanl Id)
        function validateSAID(id) {
          let type = id.substr(0, 1);
          let sum = 0;
          const _idLength = 10;
          const _type1 = "1";
          const _type2 = "2";
          id = id.trim();
          if (
            isNaN(parseInt(id)) ||
            id.length !== _idLength ||
            (type !== _type2 && type !== _type1)
          ) {
            return false;
          }
          for (let num = 0; num < 10; num++) {
            const digit = Number(id[num]);
            if (num % 2 === 0) {
              const doubled = digit * 2;
              const ZFOdd = `00${doubled}`.slice(-2);
              sum += Number(ZFOdd[0]) + Number(ZFOdd[1]);
            } else {
              sum += digit;
            }
          }
          return sum % 10 !== 0 ? false : true;
        }

        // Validator method for the national id (Iqama/Saudi)
        $.validator.addMethod(
          "nationalidRegex",
          function (value, element) {
            return this.optional(element) || validateSAID(value);
          },
          "أدخل رقم هوية/إقامة صحيح."
        );

        // The below code will change the default validation messages
        $.extend($.validator.messages, {
          required: "هذا الحقل مطلوب.",
          remote: "الرجاء اصلاح هذا الحقل.",
          email: "الرجاء إدخال بريد الكتروني صالح.",
          url: "الرجاء إدخال رابط صحيح وفعال.",
          date: "الرجاء إدخال تاريخ صالح.",
          dateISO: "الرجاء إدخال تاريخ صحيح (بصيغة ISO).",
          number: "الرجاء إدخال رقم صحيح.",
          digits: "الرجاء إدخال أرقام فقط.",
          creditcard: "الرجاء إدخال رقم بطاقة ائتمان صالحة.",
          equalTo: "رجاء أدخل نفس القيمة مره أخرى.",
          accept: "الرجاء إدخال قيمة بإمتداد صحيح.",
          maxlength: $.validator.format("الرجاء عدم إدخال أكثر من {0} أحرف."),
          minlength: $.validator.format("الرجاء إدخال على الأقل {0} حروف."),
          rangelength: $.validator.format(
            "الرجاء إدخال قيمة طولها يكون من {0} إلى {1} أحرف."
          ),
          range: $.validator.format("الرجاء إدخال رقم بين {0} و {1}."),
          max: $.validator.format(" الرجاء إدخال قيمة أقل من أو تساوي {0}."),
          min: $.validator.format("الرجاء إدخال قيمة أعلى من أو تساوي {0}."),
        });

        var excludedFields = ["ID_of_element"]; // IDs of fields to exclude

        // When ".next" button is clicked, the following function is executed
        $("#sign_up_btn").click(function () {
          var form = $("#sign-up-form");
          form.validate({
            errorElement: "span",
            errorClass: "help-block invalid-feedback",
            highlight: function (element, errorClass, validClass) {
              $(element).closest(".form-group").addClass("has-error");
              
              // Check if the field is excluded
              if (excludedFields.indexOf(element.id) === -1) {
                $(element).addClass("is-invalid");
                $(element).removeClass("is-valid");
              }
            },
            unhighlight: function (element, errorClass, validClass) {
              $(element).closest(".form-group").removeClass("has-error");

              // Check if the field is excluded
              if (excludedFields.indexOf(element.id) === -1) {
                $(element).removeClass("is-invalid");
                $(element).addClass("is-valid");
              }
            },
            errorPlacement: function (error, element) {
              // Check if the element is inside an input-group
              if (element.parent(".input-group").length) {
                // Place the error after the input-group
                error.insertAfter(element.parent(".input-group"));
              } else {
                // Default placement for other elements
                error.insertAfter(element);
              }
            },
            focusInvalid: true,

            // Adding the rules (validations) for each input in the form.
            rules: {
              first_name: {
                required: true,
                nameRegex: true,
                minlength: 2,
                maxlength: 20,
              },
              second_name: {
                required: true,
                nameRegex: true,
                minlength: 2,
                maxlength: 20,
              },
              last_name: {
                required: true,
                nameRegex: true,
                minlength: 2,
                maxlength: 20,
              },
              username: {
                minlength: 3,
                maxlength: 15,
                required: true,
                usernameRegex: true,
                remote: {
                  url: '/sign-up/validate_username/',
                  type: 'post',
                  data: {
                    username: function() {
                      return $('#id_username').val();
                    },
                    csrfmiddlewaretoken: csrfToken,  // Include CSRF token
                  },
                },
              },
              password1: {
                required: true,
                strongPassword: true,
              },
              password2: {
                required: true,
                equalTo: "#id_password1",
              },
              date_of_birth: {
                required: true,
                dateISO: true,
              },
              gender: {
                required: true,
              },
              national_id: {
                required: true,
                nationalidRegex: true,
                remote: {
                  url: '/sign-up/new/validate_national_id/',
                  type: 'post',
                  data: {
                    national_id: function() {
                      return $('#id_national_id').val();
                    },
                    csrfmiddlewaretoken: csrfToken,  // Include CSRF token
                  },
                },
              },
              nationality: {
                required: true,
                maxlength: 30,
              },
              phonenumber: {
                required: true,

                saudiPhoneRegex: true,
              },
              email: {
                required: true,
                emailRegex: true,
                remote: {
                  url: '/sign-up/validate_email/',
                  type: 'post',
                  data: {
                    email: function() {
                      return $('#id_email').val();
                    },
                    csrfmiddlewaretoken: csrfToken,  // Include CSRF token
                  },
                },
                
              },
            },
            messages: {
              username: {
                usernameRegex: "اسم المستخدم يتكون من حروف انجليزية وارقام فقط.",
                remote: "اسم المستخدم تم استخدامه بالفعل!",
              },
              national_id: {
                remote: "رقم الهوية أو الإقامة مستخدم بالفعل!"
              },
              first_name: {
                required: "هذا الحقل مطلوب.",
              },
              password2: {
                equalTo: "كلمة المرور غير متطابقة"
              },
              email: {
                remote: "البريد الالكتروني تم استخدامه بالفعل!"
              },
            },
          });

          // In case of a valid form inputs
          if (form.valid() === true) {
            form.submit();
          }
        });

      }); // (document).ready() end line
      
      const passwordInput = document.getElementById('id_password1');
      const meterSections = document.querySelectorAll('.meter-section');

      const togglePassword = document
            .querySelector('#togglePassword');
        const password = document.querySelector('#id_password1');
        togglePassword.addEventListener('click', () => {
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            password.setAttribute('type', type);

            togglePassword.classList.toggle("active");
        });

      passwordInput.addEventListener('input', updateMeter);

      function updateMeter() {
          const password = passwordInput.value;
          let strength = calculatePasswordStrength(password);

          // Remove all strength classes
          meterSections.forEach((section) => {
              section.classList.remove('weak', 'medium', 'strong', 'very-strong');
          });

          // Add the appropriate strength class based on the strength value
          if (strength >= 1) {
              meterSections[0].classList.add('weak');
          }
          if (strength >= 2) {
              meterSections[1].classList.add('medium');
          }
          if (strength >= 3) {
              meterSections[2].classList.add('strong');
          }
          if (strength >= 4) {
              meterSections[3].classList.add('very-strong');
          }
      }

      function calculatePasswordStrength(password) {
          const lengthWeight = 0.2;
          const uppercaseWeight = 0.5;
          const lowercaseWeight = 0.5;
          const numberWeight = 0.7;
          const symbolWeight = 1;

          let strength = 0;

          // Calculate the strength based on the password length
          strength += password.length * lengthWeight;

          // Calculate the strength based on uppercase letters
          if (/[A-Z]/.test(password)) {
              strength += uppercaseWeight;
          }

          // Calculate the strength based on lowercase letters
          if (/[a-z]/.test(password)) {
              strength += lowercaseWeight;
          }

          // Calculate the strength based on numbers
          if (/\d/.test(password)) {
              strength += numberWeight;
          }

          // Calculate the strength based on symbols
          if (/[^A-Za-z0-9]/.test(password)) {
              strength += symbolWeight;
          }

          return strength;
      }

      // Add event listener for input event
      passwordInput.addEventListener("input", function(event) {
          var inputValue = event.target.value;
          var englishLettersPattern = /^[A-Za-z0-9!@#$%^&*()_~-]+$/; // Adjusted pattern to include additional characters for the strong password
          if (!englishLettersPattern.test(inputValue)) {
              event.target.value = inputValue.replace(/[^A-Za-z0-9!@#$%^&*()_~-]/g, ''); // Replace non-matching characters with an empty string
          }
      });

      // Add the functionality and checkers of password 1 to password 2 field
      const passwordInput2 = document.getElementById('id_password2');

      const togglePassword2 = document
      .querySelector('#togglePassword2');
      const password2 = document.querySelector('#id_password2');
      togglePassword2.addEventListener('click', () => {
          // Toggle the type attribute using
          // getAttribure() method
          const type = password2
              .getAttribute('type') === 'password' ?
              'text' : 'password';
          password2.setAttribute('type', type);

          // Toggle the active class of the button to indicate its state
          togglePassword2.classList.toggle("active");
      });

      // Add event listener for input event
      passwordInput2.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var englishLettersPattern = /^[A-Za-z0-9!@#$%^&*()_~-]+$/; // Adjusted pattern to include additional characters for the strong password
        if (!englishLettersPattern.test(inputValue)) {
            event.target.value = inputValue.replace(/[^A-Za-z0-9!@#$%^&*()_~-]/g, ''); // Replace non-matching characters with an empty string
        }
    });
    </script>
  </body>
</html>