*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}
/* Start of fonts styling */

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* End of fonts styling */

.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* High z-index to ensure it's on top */
}

.container-confetti {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confetti-button {
  padding: 1rem 3rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  background-color: #198754;
  border: 2px solid rgb(212, 212, 212);
  z-index: 2; /* Ensure it stays above the confetti */
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.confetti-button:hover {
  background-color: #136842;
}

.confetti-emoji {
  margin-right: 12px;
}

/* Header Styling */

.header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: white;
  background-color: #198754;
  font-size: 36px;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Confetti Pattern Animation */

@keyframes moveConfetti {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.confetti-pattern {
  position: absolute;
  top: -100px;
  bottom: 0;
  width: 50px;
  background-size: contain;
  z-index: 1;
  /* animation: moveConfetti 10s infinite linear; */
}

/* Input field styling */

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}

.input-field-wrapper input {
  height: 56px;
  width: 100%;
  text-align: right;
  padding-right: 18px;
  padding-left: 12px;
  font-size: 22px;
  border-radius: 3rem;
}

.input-field-wrapper label {
  color: #fff;
  font-size: 2rem;
  margin-right: 15px;
}

.logo {
  margin-bottom: 5rem;
  width: 100%;
  max-width: 800px;
}

.button-wrapper canvas {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}