{% load static %} {% load auth_group %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- links for release page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/confetti.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&family=Zain:wght@200;300;400;700;800;900&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/imgs/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/imgs/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/imgs/favicon_io/site.webmanifest' %}">
    <title>{% block title %}لوحة التحكم{% endblock %}</title>
    {% comment %} Bootstrp CSS {% endcomment %} {% comment %} {% load bootstrap5
    %} {% endcomment %} {% comment %} {% bootstrap_css %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}" /> {% endcomment %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    {% comment %} <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv"
      crossorigin="anonymous"
    /> {% endcomment %}
    {% comment %} arabic fonts {% endcomment %}
    {% block head %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&display=swap" rel="stylesheet">
    <style>
      body {
          font-family: "Noto Kufi Arabic";
      }
    </style>
  </head>
  <body>
    <div class="body-container" dir="rtl">
      <!-- Header -->
      <div class="header">إطلاق منصة بوابة المجتمع</div>
      <!-- Confetti patterns on both sides -->
      <!-- <div class="confetti-pattern left"></div> -->
  
      <!-- Main Content -->
      <div class="container-confetti" style="background-image: url('{% static 'imgs/confetti_bg.svg' %}');">
        <div class="button-wrapper mx-sm-5">
          <img class="logo" src="{% static 'imgs/logo_hq.png' %}">
          <div class="input-field-wrapper">
            <!-- <label for="input-field" class="input-field-label zain-light">كلمة المرور</label> -->
            <input type="text" class="input-field zain-light" id="input-field" placeholder="أدخل كلمة المرور..."/>
          </div>
          <button class="confetti-button zain-bold">إطلاق <span class="confetti-emoji">🎉</span>
          </button>
        </div>
      </div>
  
      <!-- <div class="confetti-pattern right"></div> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'imgs/logo-c-1-white.png' %}" height="60" alt="Community Friends Charity Logo"
            loading="lazy" />
        </a> 
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
            <ul class="navbar-nav">
              <li class="nav-item"><a href="/home" class="nav-item nav-link">الصفحة الرئيسية</a></li>
              {% if user.is_authenticated %}
              <div class="navbar-collapse" id="navbarNavDarkDropdownEServices">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <p class="d-inline">تقديم طلب</p> 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="{% url 'beneficiary_new' user_id=user.id %}">طلب مستفيد</a></li>
                      <li><a class="dropdown-item" href="{% url 'supporter_indiv' %}">طلب كفالة</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              {% if request.user|has_group:"Management" %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}" role="button">
                  لوحة التحكم
                </a>
              </li>
              {% endif %}
              {% else %}
              {% endif %}
            </ul>
          </div>
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="navbar-collapse" id="navbarNavDarkDropdownProfile">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" id="profile-icon">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg><p class="d-inline">   {{ user.username }}</p> 
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'beneficiary_profile' user_id=user.id %}">الملف الشخصي</a></li>
                    <li><a class="dropdown-item" href="{% url 'beneficiary_requests' user_id=user.id %}">الطلبات</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">تسجيل الخروج</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            {% else %}
            <a href="/sign-up" class="nav-item nav-link">تسجيل جديد</a>
            <a href="/login" class="nav-item nav-link">تسجيل الدخول</a>
            {% endif %}
          </div>
          
        </div>
      </div>
    </nav>
    
    {% block content %}{% endblock %}
    
    <div class="container">
      <hr>
      <footer>
          <div class="row">
              <div class="col-md-6">
                  <p>Copyright &copy; 2024 جميع الحقوق محفوظة لدى جمعية أصدقاء المجتمع</p>
              </div>
              <div class="col-md-6 text-md-end">
                  <a href="#" class="text-dark">شروط الأستخدام</a> 
                  <span class="text-muted mx-2">|</span> 
                  <a href="#" class="text-dark">سياسة الخصوصية</a>
              </div>
          </div>
      </footer>
    </div>
    <script defer type="text/javascript">
      // Check the password status on page load
      document.addEventListener("DOMContentLoaded", function () {
          fetch('https://port433.link/api/check-password-status/')
              .then(response => response.json())
              .then(data => {
                  if (data.result === true) {
                      // Hide the body-container if the correct password has been passed before
                      document.querySelector('.body-container').style.display = 'none';

                      // Revert the overflow setting to allow scrolling
                      document.body.style.overflow = 'auto'; // or 'scroll' if you want to always show the scrollbar
                  } else {
                      // Show the body-container if the correct password has not been passed
                      document.querySelector('.body-container').style.display = 'block';

                      // Optionally set overflow to hidden to prevent scrolling if needed
                      document.body.style.overflow = 'hidden'; 
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
                  //alert('حدث خطأ أثناء التحقق، حاول مرة أخرى');
              });
        });
    
      // Confetti button click event
      document.getElementsByClassName("confetti-button")[0].addEventListener("click", () => {
          let inputField = document.getElementById("input-field");
          let enteredValue = inputField.value;
    
          // API call to verify the value
          fetch('https://port433.link/api/check-password/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ password: enteredValue })
          })
          .then(response => response.json())
          .then(data => {
              if (data.result === true) {
                // If the response is true, hide the body-container
                document.querySelector('.body-container').style.display = 'none';
    
                // Revert the overflow setting to allow scrolling
                document.body.style.overflow = 'auto'; // or 'scroll' if you prefer always showing the scrollbar
    
                // Trigger confetti animation
                let canvas = document.createElement("canvas");
                canvas.width = 600;
                canvas.height = 600;
                canvas.style.zIndex = 9999;  // Set the z-index to 9999
                let container = document.getElementsByClassName("button-wrapper")[0];
                container.appendChild(canvas);
    
                let confetti_button = confetti.create(canvas);
                confetti_button().then(() => container.removeChild(canvas));
    
                var duration = 15 * 1000;
                var animationEnd = Date.now() + duration;
                var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 9999 };
    
                function randomInRange(min, max) {
                    return Math.random() * (max - min) + min;
                }
    
                var interval = setInterval(function() {
                    var timeLeft = animationEnd - Date.now();
    
                    if (timeLeft <= 0) {
                        return clearInterval(interval);
                    }
    
                    var particleCount = 50 * (timeLeft / duration);
                    // since particles fall down, start a bit higher than random
                    confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
                    confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
                }, 250);
            } else {
                // Optionally handle incorrect password scenario
                // alert('الرمز غير صحيح، حاول مرة أخرى');
            }
          })
          .catch(error => {
              console.error('Error:', error);
              //alert('حدث خطأ أثناء التحقق، حاول مرة أخرى');
          });
    
      });
    </script>    
  </body>
</html>
