{% extends "dashboardbase.html" %} {% block content %}
<div class="container mt-5 mb-4 p-5 my-4 bg-light rounded-3 ">
  <h2 class="mb-4">تسجيل مستفيد (أفراد)</h2>
  <form action="/beneficiaries/individuals/new" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col mb-4">
        <label for="name" class="form-label"
          >الاسم الثلاثي كامل</label
        >
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="col mb-4">
        <label for="phone_number" class="form-label">رقم الجوال</label>
        <input type="tel" id="phone_number" class="form-control" name="phone_number"/>
      </div>
      <div class="col mb-4">
        <label for="date_of_birth" class="form-label"
          >تاريخ الميلاد</label
        >
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"/>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <label for="nationality" class="form-label">الجنسية</label>
        <input type="text" class="form-control" id="nationality" name="nationality"/>
      </div>
      <div class="col mb-4">
        <label for="national_id" class="form-label"
          >رقم الهوية\الإقامة</label
        >
        <input type="text" class="form-control" id="national_id" name="national_id"/>
      </div>
      <div class="col mb-4">
        <label for="national_address" class="form-label"
          >العنوان الوطني</label
        >
        <input type="text" class="form-control" id="national_address" name="national_address"/>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <label for="marital_status" class="form-label">الحالة الاجتماعية</label>
        <select id="marital_status" class="form-select" name="marital_status"> 
          <option selected>متزوج-متزوجة</option>
          <option>مطلق-مطلقة</option>
          <option>أرمل-أرملة</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="relationship" class="form-label">العلاقة</label>
        <select id="relationship" class="form-select" name="relationship">
          <option selected>أب</option>
          <option>أم</option>
          <option>أخ-أخت</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="category" class="form-label">نوع الدعم</label>
        <select id="category" class="form-select" name="category">
          <option selected>أسرة محتاجة</option>
          <option>أرملة</option>
        </select>
      </div>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col mb-4">
        <label for="needs" class="form-label"
          >الاحتياجات</label
        >
        <input
          type="text"
          class="form-control input-lg"
          id="needs"
          name="needs"
        />
      </div>
      <div class="col mb-4">
        <label for="justifications" class="form-label">المبررات</label>
        <input
          type="text"
          class="form-control input-lg"
          id="justifications"
          name="justifications"
        />
      </div>
    </div>
    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        أوافق على مشاركة المعلومات المرسلة بواسطتي, وأوكد انها صحيحة تماما
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" value="OK" class="btn btn-primary ps-5 pe-5 me-3">
          إرسال
        </button>

        <button href="/beneficiaries/individuals/new" class="btn btn-secondary ps-5 pe-5">
          افراغ الاستبيان
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
