{% extends "base.html" %} {% load static %} {% block title %} Home Page {% endblock %} {% block content %}
<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">
      <h1 class="mb-3">الصندوق التنموي للأيتام لحياة كريمة</h1>
      <p class="lead">استثمر معنا لأخرتك وشارك بتأمين حياة أحد الأسر   المحتاجة أو الارامل <a href="https://www.tutorialrepublic.com" class="text-success" target="_blank">من هنا</a> ابدا بملئ طلب كفالة أو دعم مادي او غير عيني (أثاث أدوات مكتبية) للأيتام والمحتاجين</p>
      <div class="d-flex flex-row mb-3 column-gap-3">
        <p><a href="/index2" class="btn btn-success btn-lg">طلب مستفيد</a></p>
        {% comment %} <div class="dropdown">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            طلب كفالة
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/supporters/entities/new">جهات</a></li>
            <li><a class="dropdown-item" href="/supporters/individuals/new">أفراد</a></li>
          </ul>
        </div> {% endcomment %}
        <p><a href="/supporters/individuals/new" class="btn btn-secondary btn-lg">طلب الكفالة</a></p>
      </div>
  </div>
  <div class="text-center mt-5 p-2 mb-2"><h1>من مشاريع الجمعية</h1></div>
  <div class="row column-gap-3 justify-content-md-center">
      <div class="col col-lg-4 p-5 my-4 bg-light rounded-3">
          <h2>الحقيبة المدرسية</h2>
          <p>نهدف إلى توفير أهم احتياجات طلاب وطالبات هذه الأسر من الحقائب المدرسية والزي واللوازم المدرسية في مط..</p>
          <p><a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">أعرف أكثر &raquo;</a></p>
      </div>
      <div class="col-md-auto p-5 my-4 bg-light rounded-3">
          <h2>إكرام الأموات</h2>
          <p>أكرم ميتَا بدعمك..</p>
          <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">أعرف أكثر &raquo;</a></p>
      </div>
      <div class="col col-lg-4 p-5 my-4 bg-light rounded-3">
          <h2>الصندوق الرعوي للإيتام</h2>
          <p>صندوق يوفر احتياجات الأيتام المختلفة ويدعمهم في مسيرتهم التعليمية وفيه احتياجات حياتهم المختلفة..</p>
          <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">أعرف أكثر &raquo;</a></p>
      </div>
  </div>
  {% comment %} <p>الصفحة الرئيسية للاحصائيات</p>
  <form action="/name/" method="post">
    {% csrf_token %}
    <label for="name">الأسم </label>
    <input id="name" type="text" name="name" value="{{ current_name }}">
    <input type="submit" value="OK">
  </form> {% endcomment %}
</div>
{% endblock %}
