{% extends "dashboard/dbase.html" %} {% block title %} الصفحة الرئيسية {% endblock %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  
  <div class="mt-5">
    <h2 class="pb-3">بناء التقارير</h2>
    <form action="/dashboard/reports" method="POST">
      {% csrf_token %}
      <div class="form-group pb-3 row">
        <div class="col-8">
          <label for="beneficiary_name" class="form-label">الأسم الأول للمستفيد</label>
          <input type="search" class="form-control" id="beneficiary_name" placeholder="" name="beneficiary_name">
        </div>
        <div class="col">
          <label for="national_id" class="form-label">رقم الهوية</label>
          <input type="text" class="form-control" id="national_id" placeholder="XXX-XXX-XXX-XXXX" name="national_id" min=0 >
        </div>
      </div>
      <div class="form-group pb-3 row">
        <div class="col">
          <label for="category" class="form-label">نوع الدعم</label>
          <select id="category" class="form-select" name="category">
            <option selected>اختار...</option>
            <option>أسرة محتاجة</option>
            <option>أرملة</option>
          </select>
        </div>
        <div class="col">
          <label for="marital_status" class="form-label">الحالة الاجتماعية</label>
          <select id="marital_status" class="form-select" name="marital_status"> 
            <option selected>اختار...</option>
            <option>متزوج-متزوجة</option>
            <option>مطلق-مطلقة</option>
            <option>أرمل-أرملة</option>
          </select>
        </div>
        <div class="col">
          <label for="is_qualified" class="form-label">استحقاقية الدعم</label>
          <select id="category" class="form-select" name="is_qualified">
            <option selected>اختار...</option>
            <option>مؤهل</option>
            <option>غير مؤهل</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary px-5 py-2">ابحث</button>
      <a href="/dashboard/reports" class="btn btn-secondary px-3 py-2">البدء من جديد</a>
    </form>
  </div>

  {% if beneficiaries %}
  <div class="row mt-4">
    <h3>النتائج</h3>
    <hr />
    <ul class="">
      {% for beneficiary in beneficiaries %}
        <li class="col">
          <p>-الاسم: {{ beneficiary.name }}</p>
          <p>-الجنسية: {{ beneficiary.nationality }}</p>
          <p>-تاريخ الميلاد: {{ beneficiary.date_of_birth }}</p>
          <p>-رقم الجوال: {{ beneficiary.phone_number }}</p>
          {% if beneficiary.is_qualified == 0 %}
            <p>-هل هو مؤهل؟: لا</p>
          {% else %}
            <p>-هل هو مؤهل؟: نعم</p>
          {% endif %}
          
          <p>-الحالة الاجتماعية: {{ beneficiary.marital_status }}</p>
          <p>-التصنيف: {{ beneficiary.category }}</p>
          <p>-رقم الهوية: {{ beneficiary.national_id }}</p>
        </li>
        <hr />
      {% endfor %}
    </ul>
  </div>
  {% else %}
  {% endif %}
</div>


{% endblock %}
{% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}