{% extends "dashboardbase.html" %} {% block content %}
<div class="container mt-5 mb-4 p-5 my-4 bg-light rounded-3 ">
  <h2 class="mb-4">تسجيل داعم (أفراد)</h2>
  <form action="/supporters/individuals/new" method="POST">
    {% csrf_token %}
    <div class="row">
      <p class="fs-4 mt-3">المعلومات الشخصية</p>
      <div class="col mb-4">
        <label for="name" class="form-label"
          >الأسم الثلاثي</label
        >
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="col mb-4">
        <label for="account" class="form-label">الحساب البنكي</label>
        <input type="text" class="form-control" id="account" name="account"/>
      </div>
    </div>
    <hr class="mb-2"/>
    <p class="fs-4 mt-3">تفاصيل الدعم</p>
    <div class="row">
      <div class="col">
        <label for="category" class="form-label">نوع الدعم</label>
        <select id="category" class="form-select" name="category">
          <option selected>دعم عام</option>
          <option>دعم يتيم</option>
          <option>دعم أرمله-أرمل</option>
          <option>دعم تعليمي</option>
        </select>
      </div>
      <div class="col mb-4">
        <label for="amount" class="form-label">القيمة (ريال سعودي)</label>
        <input type="Number" class="form-control" id="amount" name="amount"/>
      </div>
    </div>
    <hr class="mb-3"/>


    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        أوافق على مشاركة المعلومات المرسلة بواسطتي, وأوكد انها صحيحة تماما
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" value="OK" class="btn btn-primary ps-5 pe-5 me-3">
          إرسال
        </button>

        <button href="/supporters/individuals/new" class="btn btn-secondary ps-5 pe-5">
          افراغ الاستبيان
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
