{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>إعادة تعيين كلمة المرور</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block head %}{% endblock %}
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/imgs/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/imgs/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/imgs/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/imgs/favicon_io/site.webmanifest' %}">
    <!-- arabic fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&display=swap" rel="stylesheet">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include jQuery Validation Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Noto Kufi Arabic";
      }
      #id_background_container {
        background: url("{% static '/imgs/confetti_bg.svg' %}") no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
      }
      
      .password-meter {
        display: flex;
        height: 5px;
        margin-top: 10px;
      }
      
      .meter-section {
        flex: 1;
        background-color: #ddd;
      }
      
      .weak {
        background-color: #ff4d4d;
      }
      
      .medium {
        background-color: #ffd633;
      }
      
      .strong {
        background-color: #00b300;
      }
      
      .very-strong {
        background-color: #009900;
      }
    </style>

  </head>
  <body id="id_background_container">
    <div class="row mx-auto justify-content-center">
      <div class="card mt-5 mb-4 p-3 p-md-5 my-4 bg-light rounded-3" style="width: 35rem;">
        <a href="{% url 'home' %}">
        <img class="img-fluid rounded-3 card-img-top" src="{% static '/imgs/logo-c-1.png' %}" alt="Girl in a jacket">
        </a>
        <div class="card-body">

          {% if validlink %}
          <h2 class="card-title fw-bold mb-3 mt-4 text-center">إعادة تعيين كلمة المرور</h2>
          <div class="col">
            <div class="mb-4">
              <p class="text-normal text-center">الرجاء إدخال كلمة المرور الجديدة مرتين للتأكيد من صحة كلمة المرور المدخلة.</p>
            </div>
            

            <form method="post" id="forget-password-form">
              {% csrf_token %}
              <div class="form-group col mb-3">
                <label for="id_new_password1" class="form-label"
                  >كلمة المرور الجديدة</label
                >
                <div class="input-group mb-3">
                  <input type="password" class="form-control" aria-autocomplete="list" aria-label="Password" aria-describedby="passwordHelp" id="id_new_password1" name="new_password1" required autofocus>
                  <a class="btn pt-1" role="button" id="togglePassword"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" fill="currentColor" class="btn-outline-secondary" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                  </svg></a>
                  
                </div>
                <div class="password-meter">
                  <div class="meter-section rounded me-2"></div>
                  <div class="meter-section rounded me-2"></div>
                  <div class="meter-section rounded me-2"></div>
                  <div class="meter-section rounded"></div>
                </div>
                <div id="passwordHelp" class="form-text text-muted">استخدم 8 حروف أو اكثر تحتوى على حروف كبيرة وصغيرة, أرقام, ورموز.
                </div>
              </div>
              <div class="form-group col mb-3">
                <label for="id_new_password2" class="form-label"
                  >تأكيد كلمة المرور الجديدة</label
                >
                <div class="input-group mb-3">
                  <input type="password" class="form-control" autocomplete="off" id="id_new_password2" name="new_password2" required autofocus>
                  <a class="btn pt-1" role="button" id="togglePassword2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" fill="currentColor" class="btn-outline-secondary" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                  </svg></a>
                  
                </div>
              </div>
              
              <button type="submit" class="w-100 btn btn-lg btn-primary mt-3" id="reset_password_confirm_btn">تغيير كلمة المرور الخاصة بي</button>
            </form>
          </div>
          {% else %}
          <div class="mb-4 mt-4">
            <p class="text-normal text_center">رابط إعادة تعيين كلمة المرور غير صالح! وقد يكون الرابط تم استخدامه بالفعل. الرجاء طلب رابط جديد لاعادة تعيين كلمة المرور.</p>
          </div>
          <a href="{% url 'home' %}" class="w-100 btn btn-lg btn-primary mt-3" id="home_btn">الرجوع للصفحة الرئيسية</a>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {

        // Define a custom method for strong password validation
        $.validator.addMethod(
          "strongPassword",
          function(value, element) {
              return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$&+,:;=?@#|'<>.^*()%!-]).{8,}$/.test(value);
          },
          "كلمة المرور يجب أن تحتوي على حرف كبير وحرف صغير ورقم ورمز خاص ويجب أن تكون على الأقل 8 أحرف باللغة الانجليزية."
        );

        // The below code will change the default validation messages
        $.extend($.validator.messages, {
          required: "هذا الحقل مطلوب.",
          remote: "الرجاء اصلاح هذا الحقل.",
          email: "الرجاء إدخال بريد الكتروني صالح.",
          url: "الرجاء إدخال رابط صحيح وفعال.",
          date: "الرجاء إدخال تاريخ صالح.",
          dateISO: "الرجاء إدخال تاريخ صحيح (بصيغة ISO).",
          number: "الرجاء إدخال رقم صحيح.",
          digits: "الرجاء إدخال أرقام فقط.",
          creditcard: "الرجاء إدخال رقم بطاقة ائتمان صالحة.",
          equalTo: "رجاء أدخل نفس القيمة مره أخرى.",
          accept: "الرجاء إدخال قيمة بإمتداد صحيح.",
          maxlength: $.validator.format("الرجاء عدم إدخال أكثر من {0} أحرف."),
          minlength: $.validator.format("الرجاء إدخال على الأقل {0} حروف."),
          rangelength: $.validator.format(
            "الرجاء إدخال قيمة طولها يكون من {0} إلى {1} أحرف."
          ),
          range: $.validator.format("الرجاء إدخال رقم بين {0} و {1}."),
          max: $.validator.format(" الرجاء إدخال قيمة أقل من أو تساوي {0}."),
          min: $.validator.format("الرجاء إدخال قيمة أعلى من أو تساوي {0}."),
        });

        var excludedFields = ["ID_of_element"]; // IDs of fields to exclude

        var form = $("#forget-password-form");

        // Function to validate form
        function validateForm() {
            form.validate({
                errorElement: "span",
                errorClass: "help-block invalid-feedback",
                highlight: function(element, errorClass, validClass) {
                    $(element).closest(".form-group").addClass("has-error");
    
                    // Check if the field is excluded
                    if (excludedFields.indexOf(element.id) === -1) {
                        $(element).addClass("is-invalid");
                        $(element).removeClass("is-valid");
                    }
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).closest(".form-group").removeClass("has-error");
    
                    // Check if the field is excluded
                    if (excludedFields.indexOf(element.id) === -1) {
                        $(element).removeClass("is-invalid");
                        $(element).addClass("is-valid");
                    }
                },
                errorPlacement: function(error, element) {
                    // Check if the element is inside an input-group
                    if (element.parent(".input-group").length) {
                        // Place the error after the input-group
                        error.insertAfter(element.parent(".input-group"));
                    } else {
                        // Default placement for other elements
                        error.insertAfter(element);
                    }
                },
                focusInvalid: true,
    
                // Adding the rules (validations) for each input in the form.
                rules: {
                    new_password1: {
                        required: true,
                        strongPassword: true,
                    },
                    new_password2: {
                        required: true,
                        equalTo: "#id_new_password1",
                    },
                },
                messages: {
                    new_password2: {
                        equalTo: "كلمة المرور غير متطابقة"
                    },
                },
            });
    
            return form.valid(); // Return validation status
        }
    
        // Revalidate form on input change
        form.find("input, select").on("input change", function() {
            validateForm();
        });
    
        // When ".next" button is clicked, validate the form
        $("#reset_password_confirm_btn").click(function() {
            if (validateForm()) {
                form.submit();
            }
        });

        

      }); // (document).ready() end line
      
      const passwordInput = document.getElementById('id_new_password1');
      const meterSections = document.querySelectorAll('.meter-section');

      const togglePassword = document
            .querySelector('#togglePassword');
        const password = document.querySelector('#id_new_password1');
        togglePassword.addEventListener('click', () => {
            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';
            password.setAttribute('type', type);

            togglePassword.classList.toggle("active");
        });

      passwordInput.addEventListener('input', updateMeter);

      function updateMeter() {
          const password = passwordInput.value;
          let strength = calculatePasswordStrength(password);

          // Remove all strength classes
          meterSections.forEach((section) => {
              section.classList.remove('weak', 'medium', 'strong', 'very-strong');
          });

          // Add the appropriate strength class based on the strength value
          if (strength >= 1) {
              meterSections[0].classList.add('weak');
          }
          if (strength >= 2) {
              meterSections[1].classList.add('medium');
          }
          if (strength >= 3) {
              meterSections[2].classList.add('strong');
          }
          if (strength >= 4) {
              meterSections[3].classList.add('very-strong');
          }
      }

      function calculatePasswordStrength(password) {
          const lengthWeight = 0.2;
          const uppercaseWeight = 0.5;
          const lowercaseWeight = 0.5;
          const numberWeight = 0.7;
          const symbolWeight = 1;

          let strength = 0;

          // Calculate the strength based on the password length
          strength += password.length * lengthWeight;

          // Calculate the strength based on uppercase letters
          if (/[A-Z]/.test(password)) {
              strength += uppercaseWeight;
          }

          // Calculate the strength based on lowercase letters
          if (/[a-z]/.test(password)) {
              strength += lowercaseWeight;
          }

          // Calculate the strength based on numbers
          if (/\d/.test(password)) {
              strength += numberWeight;
          }

          // Calculate the strength based on symbols
          if (/[^A-Za-z0-9]/.test(password)) {
              strength += symbolWeight;
          }

          return strength;
      }

      // Add event listener for input event
      passwordInput.addEventListener("input", function(event) {
          var inputValue = event.target.value;
          var englishLettersPattern = /^[A-Za-z0-9!@#$%^&*()_~-]+$/; // Adjusted pattern to include additional characters for the strong password
          if (!englishLettersPattern.test(inputValue)) {
              event.target.value = inputValue.replace(/[^A-Za-z0-9!@#$%^&*()_~-]/g, ''); // Replace non-matching characters with an empty string
          }
      });

      // Add the functionality and checkers of password 1 to password 2 field
      const passwordInput2 = document.getElementById('id_new_password2');

      const togglePassword2 = document
      .querySelector('#togglePassword2');
      const password2 = document.querySelector('#id_new_password2');
      togglePassword2.addEventListener('click', () => {
          // Toggle the type attribute using
          // getAttribure() method
          const type = password2
              .getAttribute('type') === 'password' ?
              'text' : 'password';
          password2.setAttribute('type', type);

          // Toggle the active class of the button to indicate its state
          togglePassword2.classList.toggle("active");
      });

      // Add event listener for input event
      passwordInput2.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var englishLettersPattern = /^[A-Za-z0-9!@#$%^&*()_~-]+$/; // Adjusted pattern to include additional characters for the strong password
        if (!englishLettersPattern.test(inputValue)) {
            event.target.value = inputValue.replace(/[^A-Za-z0-9!@#$%^&*()_~-]/g, ''); // Replace non-matching characters with an empty string
        }
    });
    </script>
    
  </body>
</html>