{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>إعادة تعيين كلمة المرور</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block head %}{% endblock %}
    <!-- arabic fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;500;700;800&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Noto Kufi Arabic";
      }
      #id_background_container {
        background-color: #1a1a1a;
        opacity: 1;
        background: repeating-linear-gradient( 45deg, #00834d, #00834d 11.5px, #1a1a1a 11.5px, #1a1a1a 57.5px );
        height: 100vh;
      }
      
    </style>

  </head>
  <body id="id_background_container">
    <div class="row mx-auto justify-content-center">
      <div class="card mt-5 mb-4 p-3 p-md-5 my-4 bg-light rounded-3" style="width: 35rem;">
        <a href="{% url 'home' %}">
        <img class="img-fluid rounded-3 card-img-top" src="{% static '/imgs/logo-c-1.png' %}" alt="Girl in a jacket">
        </a>
        <div class="card-body">
          <h2 class="card-title fw-bold mb-3 mt-4 text-center">إعادة تعيين كلمة المرور</h2>
          <div class="col">
            <div class="mb-4">
              <p class="text-normal text-center">هل نسيت كلمة المرور؟ قم بإدخال البريد الالكتروني في الاسفل, وسيتم إرسال تعليمات إعادة تعيين كلمة المرور الجديدة لبريدك الالكتروني</p>
            </div>

            <form method="post" id="forget-password-form">
              {% csrf_token %}
              <div class="form-group col mb-3">
                <label for="id_email" class="form-label"
                  >البريد الالكتروني</label
                >
                <input type="email" name="email" class="form-control" required autofocus id="id_email" autocomplete="email" maxlength="254">
              </div>
              <button type="submit" class="w-100 btn btn-lg btn-primary mt-3" id="reset_password_btn">إعادة تعيين كلمة المرور</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>